<h2>Reporter output</h2><table><tr><td>Chrome browser is opened</td></tr>
<tr><td>Chrome browser is opened</td></tr>
<tr><td>CONTACT USis clicked</td></tr>
<tr><td>CONTACT USis clicked</td></tr>
</table>