<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d26a">  <td>20/07/13 06:25:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001.beforeMethod()[pri:0, instance:com.hcl.mt.testcases.TC001@17fd0e6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@20632278</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/07/13 06:25:53</td>   <td>31197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001.tc001()[pri:0, instance:com.hcl.mt.testcases.TC001@17fd0e6]">tc001</td> 
  <td>main@20632278</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/07/13 06:25:54</td>   <td>31481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC001.afterMethod()[pri:0, instance:com.hcl.mt.testcases.TC001@17fd0e6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@20632278</td>   <td></td> </tr>
</table>
